<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="App_controlador_gastos.Properties.Settings.controlador_gastos_ConnectionString"
            connectionString="Data Source=LAIZENEVES-PC\SQLEXPRESS;Initial Catalog=&quot;controlador_gastos;&quot;;Persist Security Info=True;User ID=sa;Password=06032017"
            providerName="System.Data.SqlClient" />
        <add name="App_controlador_gastos.Properties.Settings.controlador_gastosConnectionString"
            connectionString="Data Source=LAIZENEVES-PC\SQLEXPRESS;Initial Catalog=controlador_gastos;Persist Security Info=True;User ID=sa;Password=06032017"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
